src-cpp/build-vezerlo-gui-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
src-cpp/build-vezerlo-gui-Desktop_Qt_5_15_2_MinGW_64_bit-Release/
#src-cpp/vezerlo-gui/3rd-party/
#src-cpp/resources/
src-cpp/vezerlo-gui/teszt.qml
src-cpp/vezerlo-gui/program-datas/joystick.txt
src-cpp/vezerlo-gui/program-datas/live.jpg


src-cpp/vezerlo-gui/mentesek/

src-cpp/vezerlo-gui/installer/packages/com.vendor.root/data/Qt3D/Core/
src-cpp/vezerlo-gui/installer/packages/com.vendor.root/data/

src-cpp/build-vezerlo-gui-Debug-32/

src-cpp/build-vezerlo-gui-Release/
